<div class="slick">
  <div>
      <%= image_tag 'donburi.jpeg',class: "c" %>
  </div>
   <div>
      <%= image_tag 'donburi.jpeg',class: "c" %>
  </div>
   <div>
      <%= image_tag 'donburi.jpeg' ,class: "c"%>
  </div>
</div>
    <h2> よく使われる商品</h2>
    <div class="row">
        <% @items.each do |item| %>
       <div class="mx-auto ">
       <%= image_tag item.image.variant(resize:'200x100') if item.image.attached? %><br>
       <%= item.name %><br>
       ￥<%= (item.price*1.1).floor %>
       </div>
       <% end %>
    </div>
    <%= link_to "全ての商品を見る",items_path %>