<div class="slick">
  <div>
      <%= image_tag 'ecology.jpeg',class: "c" %>
  </div>
   <div>
      <%= image_tag '210827_0.jpg',class: "c" %>
  </div>
   <div>
      <%= image_tag '210827_1.jpg' ,class: "c"%>
  </div>
</div>
<br>
    <h2> オススメの商品</h2>
    <div class="row">
        <% @items.each do |item| %>
       <div class="mx-auto ">
       <%= image_tag item.image.variant(resize:'200x100') if item.image.attached? %><br>
       <%= item.name %><br>
       ￥<%= (item.price*1.1).floor %>
       </div>
       <% end %>
    </div>
    <div class="my-3">
    <%= link_to "全ての商品を見る",items_path%>
    </div>