<div class="container">
    <div class="row">
        <div class="mx-auto">
         <%= image_tag 'cake.png' %> 
         </div>
    </div>
    <h1> 新着商品</h1>
    <div class="row">
        <% @items.each do |item| %>
       <div class="col-3 my-3">
       <%= attachment_image_tag item, :image, format: 'jpeg',size: "200x100" %><br>
       <%= item.name %><br>
       ￥<%= (item.price*1.1).floor %>
       </div>
       <% end %>
    </div>
    <%= link_to "全ての商品を見る",items_path %>
</div>
