<div class="card border-warning my-3">
  <h5 class="card-header bg-warning">注文履歴詳細</h5>
  <div class="card-body">
    <div class="row">
        <div class="col-md-2">
            <b>注文番号</b>
        </div>
        <div class="col-md-5">
           <%= @order.id %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <b>購入者</b>
        </div>
        <div class="col-md-5">
           <%= @order.customer.all_name %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <b>注文日</b>
        </div>
        <div class="col-md-5">
           <%= @order.created_at %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <b>配送先</b>
        </div>
        <div class="col-md-5">
           <%= @order.address_all %>
        </div>
    </div>
     <div class="row">
        <div class="col-md-2">
            <b>支払方法</b>
        </div>
        <div class="col-md-5">
           <%= @order.peyment_method %>
        </div>
    </div>
     <div class="row">
        <div class="col-md-2">
            <b>注文ステータス</b>
        </div>
        <div class="col-md-5">
            <%= form_with model: [@admin,@order],url: admin_order_path(@order),local: true do |f| %>
            <%= f.select :status,["入金待ち","入金確認","製作中","発送準備中","発送済み"]%><!--ステータス選択 -->
            <%= f.submit "更新", class: "btn btn-success" %>
            <% end %>
        </div>
    </div>
    <div class="table-responsive">
    <table class="table table-bordered">
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
        <th>製作ステータス</th>
        <% @order.order_details.each do |order_detail| %>
        <tr>
            <td> <%= order_detail.item.name %></td>
            <td><%= order_detail.price  %></td>
            <td><%= order_detail.amount %></td>
            <td><%= (order_detail.price)*(order_detail.amount) %></td>
            <td>
            <%= form_with model: [@admin,order_detail],url: admin_order_detail_path(order_detail),local: true do |f| %>
            <%= f.select :production_status,["製作不可","製作待ち","製作中","製作完了"]%><!--ステータス選択 -->
            <%= f.submit "更新", class: "btn btn-success" %>
            <% end %>
            </td>
        </tr>
        <% end %>
    </table>
    </div>
    </div>
</div>