  <div class="card border-warning my-3">
  <div class="card-header bg-warning">
  <div class="dropdown">
  <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   <%= @genre.name %>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
   <%= link_to "全ての商品",items_path,class: "dropdown-item"%>
   <% @genres.each do |genre| %>
   <%= link_to genre.name, genre_path(genre),class: "dropdown-item" %>
   <% end %>
  </div>
  </div>
  </div>
  <div class="card-body">
    <div class="row">
       <% @items.each do |item| %>
       <div class="col-lg-3 my-3">
       <%= image_tag item.image.variant(resize:'200x100') if item.image.attached? %><br>
       <%= link_to item.name,item_path(item) %><br>
       ￥<%= (item.price*1.1).floor %>
       </div>
       <% end %>
    </div>
   </div>
</div>