 <div class="card border-secondry my-3">
  <h5 class="card-header bg-secondry">配送先編集</h5>
  <div class="card-body">
    <% if @address.errors.any? %>
    <ul class="error">
     <% @address.errors.full_messages.each do |error| %>
     <li class="error"><%= error %></li>
     <% end %>
    </ul>
    <% end %>
    <%= form_with model: @address,local: true do |f| %>
    <div class="row my-3">
        <div class="col-md-3">
          郵便番号(ハイフンなし)
        </div>
         <%= f.text_field :zip_code,class: "col-md-2"%>
    </div>
    <div class="row my-3">
         <div class="col-md-3">
          住所
        </div>
         <%= f.text_field :address,class: "col-md-5"%>
    </div>
    <div class="row my-3">
         <div class="col-md-3">
          宛名
        </div>
         <%= f.text_field :name,class: "col-md-2" %>
    </div>
   <div class="row">
        <div class="mx-auto col-md-4">
         <%= f.submit "変更内容を保存",class: "btn btn-success btn-block my-3 "%>
         </div>
    </div>
    </div>
    
    <% end %>
  </div>
</div>