    <big class="silver">配送先登録/一覧</big>
    <%= form_with model: @address,local: true do |f| %>
    <div class="row my-3">
        <div class="col-3">
          郵便番号(ハイフンなし)
        </div>
         <%= f.text_field :zip_code,placeholder: "0000000",class: "col-2"%>
    </div>
    <div class="row my-3">
         <div class="col-3">
          住所
        </div>
         <%= f.text_field :address,placeholder: "東京都渋谷区代々木神園町0-0",class: "col-5"%>
    </div>
    <div class="row my-3">
         <div class="col-3">
          宛名
        </div>
         <%= f.text_field :name,placeholder: "令和道子",class: "col-2" %>
         <%= f.submit "変更内容を保存",class: "btn  btn-success offset-3"%>
    </div>
    
    <% end %>