    <div class="container">
    <big class="silver">配送先登録/一覧</big><br>
    <%= form_with url: addresses_path, method: :get, local: true do |f| %>
        <%= f.text_field :postal_code, placeholder: "郵便番号で検索" %>
        <%= f.button type: "submit" do %>
          <i class="fas fa-search-plus"></i>
      　<% end %>
    <% end %>

    <%= form_with model: @address,local: true do |f| %>
    <div class="row my-3">
        <div class="col-md-3">
          郵便番号
        </div>
    
         <%= f.text_field :zip_code, readonly: true,class: "col-md-2",value: "#{@zipcode}" %>
    </div>
    <div class="row my-3">
         <div class="col-md-3">
         都道府県 市区町村・丁目
        </div>
         <%= f.text_field :address_first, readonly: true,class: "col-md-5",value: "#{@address1} #{@address2}  #{@address3}" %>
    </div>
    <div class="row my-3">
         <div class="col-md-3">
         番地以下の住所
        </div>
         <%= f.text_field :address_last,placeholder: "２－５－４０　ハイツ305号室",class: "col-md-5" %>
    </div>
    <div class="row my-3">
         <div class="col-md-3">
          宛名
        </div>
         <%= f.text_field :name,placeholder: "令和道子",class: "col-md-2" %>
    </div>
    <div class="row">
        <div class="mx-auto col-md-4">
         <%= f.submit "新規登録",class: "btn  btn-success btn-block my-3 "%>
         </div>
    </div>
    
    <% end %>
    <div class="table-responsive">
    <table class="table table-bordered">
        <% @addresses.each do |address| %>
        <tr>
            <th>郵便番号</th>
            <td><%= address.zip_code %></td>
        </tr>
        <tr>
             <th>住所</th>
             <td><%= address.address %></td>
        </tr>
        <tr>
            <th>宛名</th>
            <td><%= address.name %></td>
        </tr>
        <tr>
            <td></td>
            <td>
               <%= link_to "編集する",edit_address_path(address),class: "btn btn-success" %>
               <%= link_to "削除する",address_path(address),class: "btn btn-danger",method: :delete%> 
            </td>
        </tr>
        <% end %>
    </table>
    </div>
    </div>