    <big class="silver">配送先登録/一覧</big><br>
    <%= form_with url: addresses_path, method: :get, local: true do |f| %>
        <%= f.text_field :postal_code, class: "col-2", placeholder: "郵便番号で検索" %>
        <%= f.button type: "submit" do %>
          <i class="fas fa-search-plus"></i>
      　<% end %>
    <% end %>

    <%= form_with model: @address,local: true do |f| %>
    <div class="row my-3">
        <div class="col-3">
          郵便番号
        </div>
    
         <%= f.text_field :zip_code, readonly: true,class: "col-2",value: "#{@zipcode}" %>
    </div>
    <div class="row my-3">
         <div class="col-3">
         都道府県 市区町村・丁目
        </div>
         <%= f.text_field :address_first, readonly: true,class: "col-5",value: "#{@address1} #{@address2}  #{@address3}" %>
    </div>
    <div class="row my-3">
         <div class="col-3">
         番地以下の住所
        </div>
         <%= f.text_field :address_last,placeholder: "２－５－４０　ハイツ305号室",class: "col-5" %>
    </div>
    <div class="row my-3">
         <div class="col-3">
          宛名
        </div>
         <%= f.text_field :name,placeholder: "令和道子",class: "col-2" %>
         <%= f.submit "新規登録",class: "btn  btn-success offset-3"%>
    </div>
    
    <% end %>
    <div class="col-12">
        
    <table class="table table-bordered">
        <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
        </tr>
        <% @addresses.each do |address| %>
        <tr>
            <td><%= address.zip_code %></td>
            <td><%= address.address %></td>
            <td><%= address.name %></td>
            <td>
                <%= link_to "編集する",edit_address_path(address),class: "btn btn-success mx-3" %>
                <%= link_to "削除する",address_path(address),class: "btn btn-danger",method: :delete%>
            </td>
        </tr>
        
        <% end %>
    </div>
    </table>