<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @order.customer.all_name %> 様</p>
    <p>この度は、白門祭エコ容器オンラインショップ をご利用いただきまして、誠にありがとうございます。</p>
    <p>ご注文明細</p>
    <p>------------------------------------------</p>
    <p>【ご注文者】<%= @order.customer.all_name %></p>
    <p>【注文番号】<%= @order.id %></p>
    <p>【ご注文日時】<%= @order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></p><br>
    <p>【処理状況】</p>
    <p>ステータス：<%= @order.status %></p><br>
    <p>【お届け先】</p>
    <p><%= @order.name %>様</p>
    <p><%= @order.address_all %></p><br>
    <p>【商品明細】</p>
    <% @order.order_details.each do |order_detail| %>
    <p><%= order_detail.item.name %>: <%= order_detail.amount %>×<%= order_detail.price %>円＝<%= order_detail.price*order_detail.amount %>円</p>
    <% end %>
    <br>
    <p>【お買上金額】</p>
    <p>商品金額合計(税込)：<%= @order.total_merchandise %>円</p>
    <p>送料(税込)：<%= @order.delivery_charge %>円</p>
    <p>お支払金額(税込)：<%= @order.total_merchandise + @order.delivery_charge %>円</p><br>
    <p>【お支払い方法】</p>
    <p><%= @order.peyment_method %></p>
    <p>------------------------------------------</p>
    <p>ご不明な点などは、お気軽にお問い合わせくださいませ。</p>
  </body>
</html>