<div class="container">
  <big class="silver px-3">ログイン</big><br><br>
  <big class="silver px-3">会員の方はこちらからログイン  </big><br><br>
 <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 <div class="row my-3">
   <div class="col-6 offset-3">
     <div class="row">
      <div class="col-3">
       <span>メールアドレス</span>
     </div>
     <div class="col-9">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %>
     </div>
    </div>
  </div>
  </div>
 
  
  <div class="row">
   <div class="col-6 offset-3">
     <div class="row">
      <div class="col-3">
       <span>パスワード</span>
     </div>
     <div class="col-9">
    <%= f.password_field :password, autocomplete: "current-password",class: "form-control" %>
     </div>
    </div>
  </div>
  </div>
  
   <div class="row">
    <div class="col-6 offset-3">
      <div class="row">
        <div class="offset-3">
           <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me ,class: "mx-3" %>
            <%= f.label :remember_me %>
          </div>
           <% end %>
        </div>
      </div>
      
    </div>
  </div>

  <div class="row">
    <div class="col-6 offset-3">
      <div class="row">
        <div class="offset-3">
           <%= f.submit "ログイン" ,class:"btn btn-primary btn-block mx-3"%>
        </div>
      </div>
    </div>
  </div>
<% end %>

  <big class="silver px-3">会員登録がお済みではない方</big><br><br>
<%= render "customers/shared/links" %>から新規登録を行ってください。

</div>


