<div class="container">
    <big class="silver">注文情報入力</big>
        <%= form_with model: @order, url: orders_path, method: :post,local: true do |f| %>
        <h4>支払方法</h4>
        <%= f.radio_button :peyment_method, :クレジットカード, checked: true %>クレジットカード<br>
　　　　<%= f.radio_button :peyment_method, :銀行振込, checked: true %>銀行振込<br>
　　　　<h4>お届け先</h4>
        <%= f.radio_button :address_option,0%>ご自身の住所<br>
        <%= current_customer.address %><br>
        <%= f.radio_button :address_option,1 %>登録済み住所から選択<br>
        <%= f.collection_select :address, Address.all, :id, :address,include_blank: "選択して下さい"%><br>
        <%= f.radio_button :address_option,2%>新しいお届け先<br>
        <div class="row">
            <div class="col-3">
                郵便番号(ハイフンなし)
            </div>
            <div class="col-5">
                <%= f.text_field :zip_code ,placeholder: "0000000"%>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                住所
            </div>
            <div class="col-5">
                <%= f.text_field :address,placeholder: "東京都渋谷区代々木神園町0-0" %>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                宛名
            </div>
            <div class="col-5">
                <%= f.text_field :name,placeholder: "令和道子"%>
            </div>
        </div>
        
        <%= f.submit '確認画面へ進む' %>
        <% end %>
</div>