<div class="card border-warning my-3">
  <h5 class="card-header bg-warning">ログイン</h5>
  <div class="card-body">    
   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
       <div class="row">
        <div class="col-md-3">
         <span>メールアドレス</span>
       </div>
       <div class="col-md-6">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control my-3" %>
       </div>
      </div>
   
       <div class="row">
        <div class="col-md-3">
         <span>パスワード</span>
       </div>
       <div class="col-md-6">
      <%= f.password_field :password, autocomplete: "current-password",class: "form-control my-3" %>
       </div>
      </div>
    
     
        <div class="row">
          <div class="col-md-6  mx-auto">
             <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me ,class: "mx-auto" %>
              <%= f.label :remember_me %>
            </div>
             <% end %>
          </div>
        </div>
     
        <div class="row my-3">
         <div class="col-md-6  mx-auto">
             <%= f.submit "ログイン" ,class:"btn btn-primary btn-block"%>
         </div>
        </div>
  <% end %>
  
   <big class="silver">会員登録がお済みでない方</big><br><br>
  <%= render "public/shared/links" %>から新規登録を行ってください。
  </div>
</div>
  
  
  
