    <div class="row my-3">
        <div class="col-3 offset-3">
            <%= attachment_image_tag @item, :image, format: 'jpeg',size: "200x100" %><br>
            <% if @item.is_active %>
            <div class="my-3 mx-auto">
           <button type="button" class="btn btn-success mx-auto">販売中</button>
           </div>
            <% else %>
            <div class="my-3 mx-auto">
           <button type="button" class="btn btn-danger mx-auto">販売停止中</button>
           </div>
            <% end %>
        </div>
        <div class="col-3">
            <%= @item.name %><br>
            <%= @item.introduction %><br>
            ￥<%= (@item.price*1.1).floor %>(税込み)<br>
            <% if @item.is_active %>
            <%= form_with model: @cart_item ,url: cart_items_path,local: true do |f| %>
            <%= f.select :amount, options_for_select((1..10).to_a), include_blank: "個数選択",class: "form-select" %>
            <%= f.text_field :item_id,value: @item.id,type: "hidden" %>
            <%= f.submit "カートに入れる",class: "btn btn-success btn-block my-3" %>
            <% end %>
            <% end %>
        </div>
    </div>